<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <h1 class="h3 mb-3 fw-normal">Login</h1>
    <div class="col-sm-6 mb-3">
        <label for="email">Email:</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
            required />
        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors && email.errors['required']">Email is required.</div>
        </div>
    </div>
    <div class="col-sm-6 mb-3">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
            required />
        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
            <div *ngIf="password.errors && password.errors['required']">Password is required.</div>
        </div>
    </div>
    <div class="col-sm-6 mb-3">
        <input type="checkbox" class="form-check-input" name="acceptTerms" [(ngModel)]="user.acceptTerms" />
        <label for="acceptTerms" class="form-label">&nbsp; Remember Me.</label>
    </div>
    <button type="submit" class="btn btn-success">Login</button> &nbsp;
    <a routerLink='/forgot-password' class="btn btn-secondary">Forgot Your Password?</a>
</form>