<h1 class="h3 mb-3 fw-normal">
    User Settings</h1>
<div class="col-lg-6">
    <p class="lead">Payment Options and Address.</p><hr>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button [routerLink]="['/user-card-details']" class="btn btn-outline-primary btn-lg px-4">Card details</button>
        <button [routerLink]="['/user-address-details']" class="btn btn-outline-primary btn-lg px-4">Address list</button>
        <a routerLink='/products' class="btn btn-outline-primary btn-lg px-4">Go Back</a> 
    </div>
</div>