<h3>Select Food</h3>
<!-- <a routerLink='/product-add' class="btn btn-outline-success">Add New Food</a> -->

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col" *ngFor="let product of productList">
                <div class="card shadow-sm">

                    <img *ngIf="product.feature_image" src="{{ product.feature_image }}" alt="mdo" width="100%" height="225">

                    <svg *ngIf="!product.feature_image" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                        role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#55595c" />
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>

                    <div class="card-body">
                        <p class="card-text"><strong>{{ product.name }}</strong></p>
                        <p class="card-text">{{ product.food }} | Rating: {{product.rating}}*</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" (click)="openModal($event, product._id, product.food, product.price, product)" class="btn btn-primary me-2">Add to Cart</button>
                                <button type="button" [routerLink]="['/product-detail', product._id]" class="btn btn-primary">Details</button>
                            </div>
                            <small class="text-muted"><strong>&#8377;{{ product.price }}</strong></small>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>