<form name="form" (ngSubmit)="f.form.valid && forgotPasswordLink()" #f="ngForm" novalidate>
    <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
    <div class="col-sm-6 mb-3">
        <label for="name">Email Address:</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
            required />
        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors && email.errors['required']">Email Address is required.</div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Send Password Reset Link</button>
</form>